<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="160px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu *ngFor="let menu of menus" [nzTitle]="menu.title" [nzIcon]="menu.icon" [nzOpen]="menu.open">
        <ul>
          <li nz-menu-item *ngFor="let m of menu.children" [routerLink]="m.router" [nzDisabled]="m.disabled" nzMatchRouter>
            <i nz-icon [nzType]="m.icon" nzTheme="outline" *ngIf="m.icon"></i>
            {{m.title}}
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>

        IoT管理系统

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-tabset nzLinkRouter style="height: 100px;" nzType="card">
          <nz-tab>
            <a nz-tab-link routerLink="dash">Default</a>
            Default.
          </nz-tab>
          <nz-tab>
            <a nz-tab-link routerLink="link">second</a>
            second.
          </nz-tab>
        </nz-tabset>

        <ng-template #container></ng-template>

<!--        TODO 切换会刷新，多重路由使用不方便， -->
<!--        <router-outlet></router-outlet>-->
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
