<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    名称
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="variable.name" placeholder="名称"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    密钥
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="variable.key" placeholder="密钥"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    密码
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="variable.secret" placeholder="密码"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    禁用
  </div>
  <div nz-col nzSpan="20">
    <nz-switch [(ngModel)]="variable.disabled"></nz-switch>
  </div>
</div>


<button nz-button nzType="primary" (click)="submit()">保存</button>

