<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    名称
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="data.name" placeholder="名称"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    说明
  </div>
  <div nz-col nzSpan="20">
    <textarea nz-input [(ngModel)]="data.description" placeholder="说明"></textarea>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    来源
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="data.origin" placeholder="来源"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    生产厂商
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="data.manufacturer" placeholder="生产厂商"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    型号
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="data.model" placeholder="型号"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    版本号
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="data.version" placeholder="版本号"/>
  </div>
</div>


<button nz-button nzType="primary" (click)="submit()">保存</button>

