
.title {
  text-align: center;
  padding: 5px;
}

.content {
  min-height: 200px;
  max-height: 400px;
  border: 1px solid grey;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
}
