<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    名称
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="data.name" placeholder="名称"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    网络
  </div>
  <div nz-col nzSpan="20">
    <nz-input-group style="display: flex">
      <nz-select [(ngModel)]="data.type" style="width: 120px">
        <nz-option nzLabel="TCP服务端" nzValue="tcp-server"></nz-option>
        <nz-option nzLabel="TCP客户端" nzValue="tcp-client"></nz-option>
        <nz-option nzLabel="UDP服务端" nzValue="udp-server"></nz-option>
        <nz-option nzLabel="UDP客户端" nzValue="udp-client"></nz-option>
        <nz-option nzLabel="串口" nzValue="serial"></nz-option>
      </nz-select>
      <input nz-input [(ngModel)]="data.addr" placeholder=":1843" style="flex: 1;">
    </nz-input-group>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    禁用
  </div>
  <div nz-col nzSpan="20">
    <nz-switch [(ngModel)]="data.disabled"></nz-switch>
  </div>
</div>

<div *ngIf="data.type=='tcp-server' || data.type=='udp-server'">

  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="4">
      注册包
    </div>
    <div nz-col nzSpan="20">
      <nz-switch [(ngModel)]="data.register_enable"></nz-switch>
    </div>
  </div>

  <div *ngIf="data.register_enable">

    <div class="item" nz-row nzAlign="middle">
      <div nz-col nzSpan="6" nzOffset="2">
        正则表达式
      </div>
      <div nz-col nzSpan="16">
        <input nz-input [(ngModel)]="data.register_regex"/>
      </div>
    </div>

    <div class="item" nz-row nzAlign="middle">
      <div nz-col nzSpan="6" nzOffset="2">
        最短
      </div>
      <div nz-col nzSpan="16">
        <nz-input-number [(ngModel)]="data.register_min" [nzMin]="0" [nzMax]="60"
                         [nzStep]="1"></nz-input-number>
      </div>
    </div>

    <div class="item" nz-row nzAlign="middle">
      <div nz-col nzSpan="6" nzOffset="2">
        最长
      </div>
      <div nz-col nzSpan="16">
        <nz-input-number [(ngModel)]="data.register_max" [nzMin]="0" [nzMax]="60"
                         [nzStep]="1"></nz-input-number>
      </div>
    </div>

  </div>

</div>


<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    心跳包
  </div>
  <div nz-col nzSpan="20">
    <nz-switch [(ngModel)]="data.heart_beat_enable"></nz-switch>
  </div>
</div>

<div *ngIf="data.heart_beat_enable">
  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      间隔（秒）
    </div>
    <div nz-col nzSpan="16">
      <nz-input-number [(ngModel)]="data.heart_beat_interval" [nzMin]="5" [nzMax]="60"
                       [nzStep]="1"></nz-input-number>
    </div>
  </div>

  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      内容
    </div>
    <div nz-col nzSpan="16">
      <input nz-input [(ngModel)]="data.heart_beat_content"/>
    </div>
  </div>


  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      十六进制
    </div>
    <div nz-col nzSpan="16">
      <nz-switch [(ngModel)]="data.heart_beat_is_hex"></nz-switch>
    </div>
  </div>

</div>


<button nz-button nzType="primary" (click)="submit()">保存</button>

