<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    名称
  </div>
  <div nz-col nzSpan="20">
    <input nz-input [(ngModel)]="channel.name" placeholder="名称"/>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    网络
  </div>
  <div nz-col nzSpan="20">
    <nz-input-group style="display: flex">
      <nz-select [(ngModel)]="channel.is_server">
        <nz-option nzLabel="服务端" [nzValue]="true"></nz-option>
        <nz-option nzLabel="客户端" [nzValue]="false"></nz-option>
      </nz-select>
      <nz-select [(ngModel)]="channel.type" style="width:80px;">
        <nz-option nzLabel="TCP" nzValue="tcp"></nz-option>
        <nz-option nzLabel="UDP" nzValue="udp"></nz-option>
      </nz-select>
      <input nz-input [(ngModel)]="channel.addr" placeholder=":1843" style="flex: 1;">
    </nz-input-group>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    禁用
  </div>
  <div nz-col nzSpan="20">
    <nz-switch [(ngModel)]="channel.disabled"></nz-switch>
  </div>
</div>

<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    注册包
  </div>
  <div nz-col nzSpan="20">
    <nz-switch [(ngModel)]="channel.register_enable"></nz-switch>
  </div>
</div>

<div *ngIf="channel.register_enable">

  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      正则表达式
    </div>
    <div nz-col nzSpan="16">
      <input nz-input [(ngModel)]="channel.register_regex"/>
    </div>
  </div>

  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      最短
    </div>
    <div nz-col nzSpan="16">
      <nz-input-number [(ngModel)]="channel.register_min" [nzMin]="0" [nzMax]="60"
                       [nzStep]="1"></nz-input-number>
    </div>
  </div>

  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      最长
    </div>
    <div nz-col nzSpan="16">
      <nz-input-number [(ngModel)]="channel.register_max" [nzMin]="0" [nzMax]="60"
                       [nzStep]="1"></nz-input-number>
    </div>
  </div>

</div>


<div class="item" nz-row nzAlign="middle">
  <div nz-col nzSpan="4">
    心跳包
  </div>
  <div nz-col nzSpan="20">
    <nz-switch [(ngModel)]="channel.heart_beat_enable"></nz-switch>
  </div>
</div>

<div *ngIf="channel.heart_beat_enable">
  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      间隔（秒）
    </div>
    <div nz-col nzSpan="16">
      <nz-input-number [(ngModel)]="channel.heart_beat_interval" [nzMin]="5" [nzMax]="60"
                       [nzStep]="1"></nz-input-number>
    </div>
  </div>

  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      内容
    </div>
    <div nz-col nzSpan="16">
      <input nz-input [(ngModel)]="channel.heart_beat_content"/>
    </div>
  </div>


  <div class="item" nz-row nzAlign="middle">
    <div nz-col nzSpan="6" nzOffset="2">
      十六进制
    </div>
    <div nz-col nzSpan="16">
      <nz-switch [(ngModel)]="channel.heart_beat_is_hex"></nz-switch>
    </div>
  </div>

</div>


<button nz-button nzType="primary" (click)="submit()">保存</button>

