
<app-form-grid label="名称">
  <input nz-input [(ngModel)]="data.name" placeholder="名称"/>
</app-form-grid>

<app-form-grid label="说明">
  <textarea nz-input [(ngModel)]="data.description" placeholder="说明"></textarea>
</app-form-grid>

<app-form-grid label="版本">
  <input nz-input [(ngModel)]="data.version" placeholder="版本号"/>
</app-form-grid>

<app-form-grid label="名称">
  <input nz-input [(ngModel)]="data.name" placeholder="名称"/>
</app-form-grid>

<button nz-button nzType="primary" (click)="submit()">保存</button>

