<nz-space>
  <nz-space-item>
    <button nz-button (click)="load()">
      <i nz-icon nzType="reload"></i>
      刷新
    </button>
  </nz-space-item>
  <nz-space-item>
    <button nz-button (click)="edit()">
      <i nz-icon nzType="plus"></i>
      创建
    </button>
  </nz-space-item>
</nz-space>
<nz-table #basicTable [nzData]="channels">
  <thead>
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>标签</th>
    <th>网络</th>
    <th>状态</th>
    <th>创建时间</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.tags }}</td>
    <td>{{ data.net.is_server ? '服务端':'客户端' }} {{data.net.type}} {{data.net.addr}}</td>
    <td>
      {{data.net.disabled ? '禁用' : ''}}
      <a>启动/停止</a>
    </td>
    <td>{{ data.created | amDateFormat:'YYYY-MM-DD HH:mm:ss'  }}</td>
    <td>
      <a>
        <i nz-icon nzType="delete"></i>
      </a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="edit(data)">
        <i nz-icon nzType="edit"></i>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
